.card {
  background-color: #c8d8e4;
  border-radius: .5rem;
  transition: all .4s ease-in-out;
  box-shadow: 0 3px 12px lightslategrey;
  margin-bottom: 1.5rem;
}

.card:hover {
  transform: scale(1.025);
}
